Django==5.0.2
django-environ==0.11.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
css_html_js_minify==2.5.5
flake8==6.1.0
psycopg2-binary==2.9.8
jsonschema==4.19.1
memory-profiler==0.61.0
graypy==2.1.0
sentry-sdk==1.40.4